<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Awesome Node Chat</title>
</head>
<body>

      <h1>Welcome you are in ANC Universe</h1>

      <input type="button" value="Contact Server" id="pokeServer">


      <script src="/socket.io/socket.io.js"></script>
      
      <script>
            let socket = io.connect('http://localhost:5000');
            socket.on('welcome', (message) => {
                  alert("ANC Server send you this message : " + message);
            });

            let pseudo = prompt("What's your name, User ?");
            socket.emit('newPseudo', pseudo);

            const BTN = document.getElementById("pokeServer");
            BTN.addEventListener("click", () => {
                  socket.emit('messageToServer', "Server, I need assistance !");
            });
      </script>
</body>
</html>