<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
      <title>Awesome Node Chat</title>

</head>
<body>
      <h1>Awesome Node Chat</h1>
      <h2>Using Express, Socket.io & more</h2>

      <section id="chatbox">
            <ul id="messenger"></ul>
      </section>

      <form action="" method="POST">
            <input type="text" name="messageToSend" id="messageToSend" placeholder="Write your message ...">
            <input type="submit" value="Send" id="sendBtn">
      </form>


      <script src="/socket.io/socket.io.js"></script>      
      <script src="/js/chat.js"></script>
</body>
</html>